node_modules
.next
.env
.env.local
.env.*.local
*.log
.env.vercel
.open-next
.wrangler
.dev.vars
android/.gradle
android/build
android/app/build
android/local.properties
*.apk
*.ipa
flutter_attendance_app/build/
flutter_attendance_app/.dart_tool/
*.p12
*.jks
*.keystore

